<div class="text-wrap" id="chapter-402733549" history = {{history}}>

				<div class="main-text-wrap">
					<div class="text-head">
						<h3 class="j_chapterName">
							<span class="content-wrap">{{chapterName}}</span>
						</h3>
						<div class="text-info cf">
							<div class="info fl">
								<a href="//book.qidian.com/info/1010868264" target="_blank" data-bid="1010868264" data-auid="4362088" data-eid="qd_R102"><i class="layui-icon">&#xe705;</i>{{novelName}}</a>

								<a href="//me.qidian.com/authorIndex.aspx?id=4362088" target="_blank" data-bid="1010868264" data-auid="4362088" data-eid="qd_R103"><i class="layui-icon">&#xe612;</i>{{authorName}}</a>

								<i><i class="layui-icon">&#xe6b2;</i><span class="j_chapterWordCut">{{chapterWords}}</span>字</i>
								<i><i class="layui-icon">&#xe68d;</i><span class="j_updateTime">{{novelTime}}</span></i>
							</div>
						</div>
					</div>




					<div class="read-content j_readContent" id="">
						{{content|safe}}
					</div>

				</div>
			</div>