
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LiView-Ebook阅读器</title>

    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/admin/css/style.css">
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/bookItem.js"></script>
    <style>
        .right h2{
            margin: 10px 0;
        }
        .right li{
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<div id="app">

    <header>
        <h1 v-text="webname">hello</h1>
        <button type="button" class="layui-btn layui-btn-radius layui-btn-primary">
            <i class="layui-icon">&#xe66e;</i> 继续阅读 《黎明之剑》
        </button>
    </header>

    <div class="main">
        <!--左栏-->
        <div class="left">
            <ul class="cl" >
                <!--顶级分类-->
                <li v-for="vo,index in menu" :class="{hidden:vo.hidden}">
                    <a href="javascript:;" :class="{active:vo.active}" @click="onActive(index)">
                        <i class="layui-icon" v-html="vo.icon"></i>
                        <span v-text="vo.name"></span>
                        <i class="layui-icon arrow" v-show="vo.url.length==0">&#xe61a;</i> <i v-show="vo.active" class="layui-icon active">&#xe623;</i>
                    </a>
                    <!--子级分类-->
                    <div v-for="vo2,index2 in vo.list">
                        <a href="javascript:;" :class="{active:vo2.active}" @click="onActive(index,index2)" v-text="vo2.name"></a>
                        <i v-show="vo2.active" class="layui-icon active">&#xe623;</i>
                    </div>
                </li>
            </ul>
        </div>
        <!--右侧-->
        <div class="right p20">
            <blockquote class="layui-elem-quote">
                <h2>LiView-Reader 舒适、轻量的Ebook阅读器</h2>
                <p>基于Flask、python、web构建</p>
                <p>轻量够舒适 简洁又美观</p>
            </blockquote>

            {{bookItem|safe}}
        </div>

<script src="../static/admin/js/config.js"></script>
<script src="../static/admin/js/script.js"></script>
</body>
</html>
